<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-org">Project Organization and Management</h3>
    <ul>
      <li>Data Tidiness</li>
      <li>Planning for NGS Projects</li>
      <li>Examining Data on the NCBI SRA Database</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-cl">Introduction to the Command Line</h3>
    <ul>
      <li>Introducing the shell</li>
      <li>Navigating and working with files and directories</li>
      <li>Redirection</li>
      <li>Writing scripts</li>
      <li>Project organization</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Data Wrangling and Processing</h3>
    <ul>
      <li>Assessing read quality</li>
      <li>Trimming and filtering</li>
      <li>Variant calling workflow</li>
      <li>Automating workflows</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-cloud">Introduction to Cloud Computing for Genomics</h3>
    <ul>
      <li>Why cloud computing?</li>
      <li>Logging onto the cloud</li>
      <li>Finetuning your cloud setup</li>
      <li>Data roundtripping</li>
      <li>Which cloud for my data?</li>
    </ul>
  </div>
</div>
